.controls {
  display: none;
}

@media (min-width: 1000px) {
  .controls {
    display: flex;

    button {
      width: 48px;
      height: 48px;
      border-radius: 4px;
      background: black;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $red100;
      border: none;
      outline: none;

      &:hover {
        opacity: 0.6;
      }

      & + button {
        margin-left: 12px;
      }

      &.inactive {
        opacity: 0.3;

        // desabilita o hover no botão que está inativo
        &:hover {
          opacity: 0.3;
        }
      }
    }
  }
}
