.item {
  position: relative;
  display: block;

  .thumb {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 204px;
    background-size: cover !important;
    background-position: center !important;
    transition: all 0.2s linear;
  }

  .post-info {
    padding: 16px;
    background: $gray800;
    border-radius: 0px 0px 4px 4px;

    .hat {
      color: $red300;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    .excerpt,
    p {
      color: white;
    }
  }

  .play-icon {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    top: 15px;
    left: 16px;
    position: absolute;
    border-radius: 16px;
    color: $gray800;
    transition: all 0.2s linear;
  }

  &.highlight {
    margin-bottom: 24px;
  }

  // TABLET
  @media (min-width: 500px) and (max-width: 900px) {
    .thumb {
      height: 320px;
    }
  }

  // DESKTOP
  @media (min-width: 1000px) {
    border: 5px solid transparent;
    transition: all 0.2s linear;

    .play-icon {
      transition: all 0.2s linear;
    }

    // Estilo do destaque
    &.highlight {
      position: relative;
      margin-bottom: 0;

      .thumb {
        height: 642px;
        width: 100%;
      }

      .post-info {
        position: absolute;
        bottom: 50px;
        left: 42px;
        width: 72%;
        background: transparent;

        .feed-3 {
          font-size: 26px;
          line-height: 30px;
        }
      }

      .play-icon {
        height: 60px;
        width: 60px;
        border-radius: 30px;
        bottom: 27%;
        top: unset;
        left: 5%;
        color: $gray900;
      }
    }

    // HOVER DOS CARDS
    &:hover {
      border: 5px solid $red300;
      transition: all 0.2s linear;

      .thumb {
        filter: brightness(60%);
      }

      .play-icon {
        background: $red300;
      }
    }

    // Ajuste de responsividade específico

    @media only screen and (max-width: 1400px) {
      &.highlight {
        .thumb {
          height: 622px;
        }

        .post-info {
          width: 80%;
        }
      }
    }
  }
}
