@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

// fonts

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.title {
  font-size: 28px;
  line-height: 34px;
}

.feed-1 {
  font-size: 26px;
  line-height: 30px;
}

.feed-2 {
  font-size: 20px;
  line-height: 24px;
}

.feed-3 {
  font-size: 16px;
  line-height: 22px;
}

.feed-4 {
  font-size: 14px;
  line-height: 19px;
}

.hat {
  font-size: 12px;
  line-height: 16px;
}

.btn-text {
  font-size: 14px;
  line-height: 16px;
}
