.try-again {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 24px;
    background-color: $red300;
    color: white;
    border-radius: 4px;
    border: none;
    outline: none;
  }
}
