// Global imports
@import "reset";
@import "colors";
@import "fonts";

// imports de estilos de componentes
@import "load-animation";
@import "carousel-controls";
@import "card";
@import "try-again";

// Estilos gerais da página, como a aplicação é onepage, fiz aqui, mas em um
// projeto maior costumo fazer um arquivo scss para cada pagina/componente.
// exemplo : _page-sobre.scss

body {
  background: $blackGradient $gray900;
}

.videos {
  padding: 24px 0;

  .head-wrapper {
    padding: 0 24px;
  }

  .page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 22px;
    border-radius: 8px;
    background: $gray800;
    margin-bottom: 24px;

    .title {
      color: $red300;
      text-transform: uppercase;
    }

    .see-more {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $gray700;
      border-radius: 4px;
      color: $gray700;
      transition: all 0.3s linear;

      span {
        display: none;
      }

      &:hover {
        transform: scale(1.02);
        background: $gray900;
        color: $red300;
        border: 2px solid $gray900;
        outline: none;
        transition: all 0.3s linear;
      }
    }
  }

  .posts-wrapper {
    .highlight-wrapper {
      padding: 0 24px;
    }
  }

  // ajuste responsividade tablet
  @media (max-width: 900px) {
    .highlight-wrapper {
      max-width: 100% !important;
    }
  }

  // Estilo Desktop
  @media (min-width: 1000px) {
    max-width: 1427px;
    margin: 0 auto;
    padding: 24px;

    .head-wrapper {
      padding: 0;
    }

    .right-side {
      display: flex;

      .see-more {
        width: fit-content;
        height: 48px;
        padding: 0 16px;
        margin-right: 16px;

        span {
          display: block;
          padding-right: 12px;
          text-transform: uppercase;
        }

        &:hover {
          transform: none;
        }
      }
    }

    .posts-wrapper {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      max-width: 100%;

      .container {
        padding: 0;
        margin-right: 24px;
        max-width: unset !important;
      }
    }

    // ajuste para resolução específica
    @media only screen and (max-width: 1400px) {
      padding: 15px;
    }
  }
}
